@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tenor Sans';
}

body {
    background: #12111f;
}

a {
    text-decoration: none;
}

.containerleft {
    width:  45%;   
    position: absolute;
    top: 23%;
    left: 6rem;
    height: 40rem;
    display: flex;
}

.container-text h2{
    color: white;
    font-weight: 900;
    text-align: center;
    font-size: 1.78rem;
}

.container-text p {
    font-size: 1.2rem;
    font-weight: 400;   
    text-align: center;
    width: 53.9rem;
    color: white;
}

.cellphone-container {
    width: 27rem;
    height: 49rem;
    position: absolute;
    right: 19rem;
    bottom: 10rem;
    text-align: center;
    background: url(/src/imagens/celular-semfundo2-Photoroom.png-Photoroom.png) no-repeat center/cover;
}


.boxcell-phone {
    height: 100%;
}
.boxcell-phone .logo_cellphone {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 11rem;
}

.phone-texts {
    width: 19.4rem;
    display: block;
    top: 14rem;
    position: relative;
    justify-content: center; align-items: center;
    margin: 0 auto;
}
.phone-texts h2 {
    font-size: 1.1rem;
    color: white;
    font-weight: 600;
    margin: 0 auto;
}

.cellphone-buttons {
    margin: 20rem 0;
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 5rem;
    text-align: center; align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: .7rem;
}
.btn-cell {
    border-radius: .7rem;
    background: #ccc;
    padding: 1rem 2rem;
}

.img-stonk img {
    font-size: 1.5rem;
    width: 1.8rem;
}
.h2-changes{
    border-radius: .7rem;
    background: #ccc;
    padding: 1rem 0.9rem;
}

.img-stonk a, h2 {
    color: #12111f;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;  
    justify-content: space-between;
    display: flex;
}
footer p {
    text-align:left;
    color: white;
    width: 42%;
    font-size: .8rem;
    font-size: .7rem;
    bottom: 100%;
    justify-content: end; align-items: end;
    margin-top: 3.5rem;
    opacity: .6;
}
footer img {
    width: 35rem;
}