@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tenor Sans';
}

:root {
    --bg-fundo2-form: #3b3b3b00; 
}

body {
    background: #12111f;
}
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 3px solid #ccc;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}
h2 {
    color: white;
}
.login-inicial {
    display: flex;
    text-align: center; align-items: center; justify-content: center;
    gap: 1.2rem;
    margin: 1.2rem 2rem;
}
.login-inicial button{
    margin-left: 3rem;
}

button {
    padding: 0.5rem 2.2rem;
    background: var(--bg-fundo-form);
    border-radius: 2rem;
    font-size: 1.2rem;
    background: #ffffff;
    text-transform: capitalize;
    font-weight: 600;
}

button:hover {
    background: #9b9a9a;
    color: black;
    transition: .7s;
}

.container-lista {
    padding: 0.5rem 1rem;
    display: flex;
    width: 100vw;
}

.container-lista a {
    color: black;
}


.lista-horizontal {
    height: 10rem;
    margin: 0 auto;
}

.lista-horizontal ul{
    margin-top: 2rem;
    display: flex;
    background: #ffffff;
    border-radius: .2rem;   
    justify-content: space-between;
    text-align: center; align-items: center;
}
.lista-horizontal ul img{
    width: 1.9rem;
}

.lista-horizontal li {
    padding: 1.3rem 4rem; 
    font-size: 1.3rem;
    cursor: pointer;
}

.lista-horizontal li:hover {
    background: #b3b1b1;
    opacity: .9;
    transition: 1s;
}

.container-left{
    width: 100vw;
    height: 72vh;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.conteudo-left{
    width: 30rem;
    height: 38rem;
    margin: 2rem 2rem;
    background: #ccc;
    border-radius: .5rem;

}

.conteudo-right {
    width: 30rem;
    height: 38rem;
    left: 100%;
    margin: 2rem 2rem;
    background: #ccc;
    border-radius: .5rem;
}

.left-h2 {
    padding: 2rem 2rem;
    text-transform: capitalize;
    color: #12111f;
}
.borda {
    padding-top: 2rem;
    border-bottom: 2px solid #12111f;
}

.left-h3 {
    font-size: 1.3rem;
    color: #12111f;
    font-weight: 600;
    padding: 0 2rem;
}

.left-p {
    margin: 1rem 0.5rem;
    padding: 0 2rem;
    color: #12111f;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.left-bottom {
    margin: 3rem 0;
}

.left-h33 {
    font-size: 1.3rem;
    color: #12111f;
    font-weight: 600;
    padding: 0 2rem;
}

.left-p2 {
    margin: 1rem 0.5rem;
    padding: 0 2rem;
    color: #12111f;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.borda2 {
    width: 26rem;
    margin: 3.5rem auto;
    border: 1px solid #12111f;
}

.conteudo-right {
    padding: 2rem 2rem;
}

.right-h2 {
    font-size: 1.5rem;
    color: #12111f;
    padding-bottom: 1rem;
    border-bottom: 2px solid #12111f;
}

.main-right {
    margin: 0 auto;
}

.main-right h2{
    margin: 2rem 0;
    text-align: center;
    font-size: 1.5rem;
    color: #1f2111;
    text-transform: capitalize;
}

.botao-infos {
    margin-top: 2rem;
    height: 38rem;
}
.conteudo-botao {
    width: 40rem;
    height: 36rem;
    position: relative;
    margin: 2.2rem auto;
    background: #ccc;
    border-radius: .5rem;
    justify-content: center; text-align: center;
    padding: 10rem;
}

input{
    border: 0;
    border-bottom: 3px solid #585252;
    padding: .2rem;
    background: none;
    outline: 0;
    width: 70%;
    margin: 1rem 0;
}

.botaozin {
    font-size: 1.6rem;
    color: #12111f;
    text-transform: capitalize;
}

.botao-container {
    margin: 0 auto;
}
.botaum2 {
    border: 2px solid red;
    width: 30rem;
}

.bot {
    width: 30rem;
    margin-left: -5rem;
    justify-content: space-evenly;
}

.bot1 {
    margin: 2rem;
    padding: 1rem 2.5rem;
    color: white;
    background: #12111f;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.bot button:hover {
    color: #12111f;    
}

.botao-roubo-celular {
    display: none;
    width: 40rem;
    height: 36rem;
    position: relative;
    margin: 2.2rem auto;
    background: #ccc;
    border-radius: .5rem;
    justify-content: center; text-align: center;
    padding: 10rem;
}

.conteudo-botao-roubo {
    width: 100%;
}

.roubo-celular {
    color: #12111f;
    text-transform: capitalize;
    margin-bottom: 3rem;
}

.conteudo-botao-roubo p {
    width: 30rem;
    margin-left: -5.2rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #12111f;
    margin-bottom: 2rem;
}
.conteudo-botao-roubo label {
    color: #12111f;
    font-size: 1.3rem;
    font-weight: 600;
}
.button-bloq{
    background: #12111f;
    color: white;
    border: none;
    padding: 1.2rem 2.5rem;
    cursor: pointer;
}
.titleContainer{
    display:block;
    bottom: 5rem;
    position:relative;
    width: 100%;
    font-size: 22px;

}

.botao-roubo-celular {
    display: block;
    position: absolute;
    top: calc(26% + 20px); 
    left: 50%; 
    transform: translateX(-50%); 
}

.titleTransferencia {
    font-size: 1.6rem;
    margin-bottom: -1.8rem;
}

.background-cartao {
    background-color: #12111f;
    width: 25rem;
    height: 17rem;
    justify-content: center; align-items: center; 
    margin: 0 auto;
    border-radius: 1.2rem;
    padding: 0;
}

.background-cartao img {
    width: 20rem;
    margin-top: 2rem;
}

.conteudo-botao2 {
        width: 40rem;
        height: 36rem;
        position: relative;
        margin: 2.2rem auto;
        background: #ccc;
        border-radius: .5rem;
        display: none;
        justify-content: center;
        text-align: center;
        padding-top: 4rem;
}

#chip-image { 
    width: 3rem;
    display: flex;
}

.container-dados-card-cartao {
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.dados-cartao-cvc {
    color: white;
    padding: 2rem 1.5rem;
    margin-left: -5rem;
}

.cod-cartao-number {
    color: white;
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

.conteudo-botao2 {
    display: none;
    position: relative; 
    top: 0rem; 
    left: 1; 
}

.conteudo-investimentos {
        width: 40rem;
        height: 36rem;
        position: relative;
        margin: 2.2rem auto;
        background: #ccc;
        border-radius: .5rem;
        display: none;
        justify-content: center;
        text-align: center;
        padding-top: 4rem;
}

.conteudo-servicos {
    width: 40rem;
    height: 36rem;
    position: relative;
    margin: 2.2rem auto;
    background: #ccc;
    border-radius: .5rem;
    display: none;
    justify-content: center;
    text-align: center;
    padding-top: 4rem;

}
.title-container-cartao {
    padding: 1.5rem 2.5rem;
}

.btn-servicos {
    margin-top: 5.5rem;
    padding: 1rem 2rem;
    background: #12111f;
    color: #ffffff;
    border-radius: 3px;
    font-weight: 700;
}

.btn-servicos:hover {
    color: black;
    background: white;
}

.caixinhas {
    background: #12111f;
    width: 25rem;
    height: 5rem;
    color: white;
    display: flex;
} 

.caixinhas img {
    width: 3rem;
    display: flex;
    color: white;
    margin: 0.5rem 0.7rem;
    color: black;
}

.caixinhas p {
    font-size: 1.5rem;
    margin: 0 auto;
    display: flex;
    padding-top: 1rem;
}
.caixinhas:hover {
    background: white;
    color: black;
}

.caixinhas img:hover {
    color: black;
}
.container-dados-investimentos button{
    margin: 0 auto;
}

.title-container-investimentos {
    padding: 1.2rem 1rem;
}